<p id="notice"><%= notice %></p>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<div class="card-deck-wrapper">
   <div class="card-deck">
     <div class="row">
       <div class="col-md-12">

<% @products.each do |product| %>
</div>
</div>
</div>
<div class="col-sm-4 col-lg-4 col-md-4">
  <div class="card">
<h2 class="card-title"><%= product.name %></h2>
      <% if product.image.present? %>
      <div class="caption">
      <div class="thumbnail">
        <%= image_tag product.image, class: 'card-img-top img-fluid'  %>
      </div>
<% end %>

<p><%= product.description %></p>
  </div>
    <p class="pull-right"><%= number_to_currency(product.price) %></p>
    <p><%= product.stock_quantity %> left in stock</p>

  <h6 class="card-text"><span class="tag tag-default"><%= link_to 'Show', product %></span></h6>
<% end %>
</div>
</div>
<br>
<div><%= paginate @products %>
<span class="tag tag-default"><%= link_to 'New Product', new_product_path %></span>
</div>
