<p id="notice"><%= notice %></p>


<h4 class="card-title">
      <% @products.each do |product| %>
        <%= product.name %>
      </h4>
      <% if product.image.present? %>
      <div class="col-sm-4">
        <%= image_tag product.image%>

      <% end %>
  <p class="card-text"><%= product.description %></p>
  <p class="card-text">$<%= product.price %>0</p>
  <p class="card-text"><%= product.stock_quantity %> left in stock</p>

  <p class="card-text"><%= link_to 'Show', product %></p>
  <p class="card-text"><%= link_to 'Edit', edit_product_path(product) %></p>
  <p class="card-text"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </p>
<% end %>
<br>
<%= paginate @products %>
<%= link_to 'New Product', new_product_path %>
